
content{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
body{
	margin-top: 0px;
	margin-left: 5px;	
}



@media screen and (max-width: 480px){
	.img_sizeA{
		width:350px;
		height: 280px;
	}
	.img_sizeB{
		width:350px;
		height: 330px;
	}
	.video_size{
		max-height:250px;
		max-width:320px;
		margin-left: 0px;
	}
	.text_type{
		text-align: center;
	}
	
}

